body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.icon-store, .icon-store:hover{
    max-width: 100%;
    background-color: transparent;
    border: none;
    padding: 0;
}

.icon-store img{
    max-width: 100%;
    max-height: 70px;
}

header{
    position: relative;
    height: auto;
    color: #fff;
    /*text-shadow: 1px 1px 1px rgba(0,0,0,0.8);*/
    text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,.7) ;
}


.header-top{
    padding: 30px 5px;
    display: inline-block;
}

.header-top h1 {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font-size: 100px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    text-transform: normal;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,.7) ;
    margin-bottom: 0;

    font-family: Gruppo, Helvetica, sans-serif;

    /*
   font-family: Wire One, Helvetica, sans-serif;
   font-family: Voltaire, Helvetica, sans-serif;
   font-family: Poiret One, Helvetica, sans-serif;
   font-family: Share Tech, Helvetica, sans-serif;
   font-family: Rajdhani, Helvetica, sans-serif;
*/
}

.header-top p{
    margin-top: 5px;
    text-align: right;
    max-width:100%;
    text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,.7) ;
}

.header-bg{
    position: absolute;
    left:0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    box-shadow: inset 0 -10px 10px -10px rgba(8, 8, 8, .4),
        0 10px 10px -10px rgba(8, 8, 8, .4);
    -moz-box-shadow: inset 0 -10px 10px -10px rgba(8, 8, 8, .4),
        0 10px 10px -10px rgba(8, 8, 8, .4);
    -webkit-box-shadow: inset 0 -10px 10px -10px rgba(8, 8, 8, .4),
        0 10px 10px -10px rgba(8, 8, 8, .4);
    top: -200px;
    padding-bottom: 200px;
    box-sizing: content-box;
}

.registration{
    padding: 20px;
    /*font-family: Gruppo, Helvetica, sans-serif;*/
    font-weight: bold;
    font-size: 30px;
    background-color: rgba(44, 62, 80,.4);
    border-color: rgb(44, 62, 80);
    border-width: 4px;
    border-style: dashed;
}
.registration:hover{
    background-color: rgba(255, 255, 255,.4);
    color: rgb(44, 62, 80);
}

.header-content{
    z-index: 100;
    position: relative;
}

.spashscreen-img{
    max-height: 400px;
    max-width: 100%;
}

.margin-top-md{
    margin-top: 20px;
}

.margin-top-lg{
    margin-top: 100px;
}

@media (max-width: 998px){
    .margin-top-lg{
        margin-top: 20px;
    }
    /*.header-bg{
        top: -300px;
        padding-bottom: 300px;
    }*/
}

@media (max-width: 730px) and (min-width: 500px){
    .header-top h1{
        font-size: 70px;
    }
}

@media (max-width: 500px){
    .header-top h1{
        font-size: 45px;
    }
}